<aside class="left-sidebar"
       data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav"
                class="pt-4 in">
                <li class="sidebar-item" routerLinkActive="selected" >
                    <a class="sidebar-link waves-effect waves-dark sidebar-link active"
                    [routerLink]="['home']"
                       aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                              class="hide-menu">首頁</span></a>
                </li>
                <li class="sidebar-item" routerLinkActive="selected">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link active"
                    routerLink="/manage/todo"
                       aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                              class="hide-menu">Todo</span></a>
                </li>
            </ul>
        </nav>
    </div>
</aside>                
