<span class="todo-count"><strong>{{todoActive.length}}</strong> items left</span>
        <ul class="filters">
            <li>
                <a [class.selected]="nowTodoStatusType===TodoStatusType.All"
                   (click)="setTodoStatusType(TodoStatusType.All)"
                   href="#/">All</a>
            </li>
            <li>
                <a [class.selected]="nowTodoStatusType===TodoStatusType.Active"
                   (click)="setTodoStatusType(TodoStatusType.Active)"
                   href="#/active">Active</a>
            </li>
            <li>
                <a [class.selected]="nowTodoStatusType===TodoStatusType.Completed"
                   (click)="setTodoStatusType(TodoStatusType.Completed)"
                   href="#/completed">Completed</a>
            </li>
        </ul>
        <button class="clear-completed"
                (click)="clearCompleted()"
                *ngIf="todoCompleted.length">Clear completed</button>