li {
    .destroy2 {
        display: none;
        position: absolute;
        top: 0;
        right: 40px;
        bottom: 0;
        width: 40px;
        height: 40px;
        margin: auto 0;
        font-size: 30px;
        color: #cc9a9a;
        margin-bottom: 11px;
        transition: color 0.2s ease-out;
    }

    &:hover {
        .destroy2 {
            display: inline-block;
        }
    }
}