<div class="modal fade"
     id="todoInfoModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="exampleModalLabel">代辦事項明細</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="todo">
          <div>id:{{todo.TodoId}}</div>
          <div>事情:{{todo.Thing}}</div>
          <div>完成:{{todo.Status?'是':'否'}}</div>
          <div>建立日期:{{todo.CreateTime | date:'yyyy-MM-dd'}}</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>